@use "util";
@use "vars";

.card-container {
  @include util.flex-center;
  height: 100%;
  background: vars.$light-bg;
}

.pseudo-card-container {
  @include util.flex-center;
  background: vars.$light-bg;
  flex-direction: column;
  padding: 20px;

  button {
    box-shadow: 0px 0px 20px black;
  }
}

.card {
  @include util.flex-center;
  flex-direction: column;
  background: vars.$bg;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 20px black;
  min-width: 40%;
  min-height: 30%;
  transform-style: preserve-3d;

  textarea {
    width: 90%;
  }
}

.playing-card {
  display: flex;
  min-width: 40%;
  min-height: 30%;
  max-width: 90%;
  transition: transform vars.$flip-transition;

  >.inner {
    flex: 1;
    perspective: 1500px;
    grid-template-columns: 1fr;

    @include util.grid-stack;

    >.path {
      color: vars.$light-bg-c;
      width: 100%;
      border-radius: 0 0 4px 4px;
      text-align: right;
      margin-top: 10px;

      >* {
        margin-left: auto;
        margin-right: 5px;
      }
    }

    >.front {
      @include util.flex-center;
      flex-direction: column;
      z-index: 2;
      background: vars.$bg;

      .card-info-bar {
        background: vars.$green;
        color: vars.$green-dark;
      }
    }

    >.back {
      @include util.flex-center;
      flex-direction: column;
      z-index: 1;
      transform: rotateY(-0.5turn);
      background: vars.$bg;

      >p,
      >.markdown,
      >.question-results {
        opacity: 0;
      }

      .card-info-bar {
        background: vars.$blue;
        color: vars.$blue-dark;
      }
    }

    >* {
      @extend .card;
      padding: 0;
      padding-top: 20px;
      @include util.backface-visibility(hidden);
      transition: transform vars.$flip-transition;

      >p,
      >.markdown {
        @include util.flex-center;
        flex: 1;
        text-align: center;
      }

      >.card-info-bar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: vars.$light-bg;
        width: 100%;
        border-radius: 0 0 4px 4px;
        text-align: right;
        margin-top: 10px;

        >* {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.flipped {

    >.inner {
      >* {
        transform: rotateY(0.5turn);
      }

      >.back {
        transform: rotateY(0turn);
      }
    }
  }

  &.showback {
    >.inner>.back {

      >p,
      >.markdown,
      >.question-results {
        opacity: 1;
      }
    }
  }

}

.edit-card {
  @extend .card;
  @include util.flex-center;
  padding: 10px !important;

  @media only screen and (max-width: 600px) {
    grid-template-columns: auto;
  }

  label {
    width: 100%;
  }

  >* {
    margin: 5px 0;
  }
}

.question-results {
  display: grid;
  align-items: center;
  width: 100%;
  margin-top: auto;

  >span {
    font-size: 2em;
    margin-left: 8px;
    font-weight: 550;
    grid-column: 2;
    grid-row: 1;
    margin-right: auto;
  }

  >svg {
    grid-column: 1;
    grid-row: 1;
    margin-left: auto;
  }

  &.correct {
    >* {
      color: vars.$green;
    }
  }

  &.incorrect {
    >* {
      color: vars.$red;
    }
  }

  >button {
    margin-left: auto;
    grid-column: 1 / span 2;
    grid-row: 1;
    color: vars.$fg !important;
  }
}

.user-answer {
  font-style: italic;
  opacity: 80%;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .card-container {
    flex: 1;
    margin: 10px;
  }
}