@use "vars";
@use "util";
@use "input";

.existing-files {
  @include util.flex-center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.file {
  display: flex;
  width: 100%;
  margin: 5px;
  height: 3rem;

  >div {
    @include util.flex-center;
    flex: 0;
    background: vars.$light-bg;
    padding: 10px;
  }


  >div.popup-button-holder {
    width: 100%;
    padding: 0;
    aspect-ratio: 1/1;

    >button {
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 0 !important;
      border-radius: inherit;
    }
  }

  >* {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 0;
  }

  > :first-child {
    border-radius: 3rem 0 0 3rem;
  }

  >.main {
    flex: 1;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  > :last-child {
    border-radius: 0 3rem 3rem 0;
  }
}

.path-container {
  display: flex;
  flex-direction: row;
  place-items: center;

  .control {
    background: none;
    @include input.button-hovers;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: 5px;

    svg {
      height: 1em;
      width: 1em;

    }
  }

  .path {

    background: vars.$lighter-bg;

    list-style-type: none;
    margin: 0;
    overflow: auto;
    border-radius: 3rem;
    padding: 5px 10px;

    li {
      @include input.button-hovers;
      display: inline-block;

      &:hover {
        svg {
          stroke-width: 4;
        }
      }

      a {
        text-decoration-line: none;
        font-size: small;
        color: vars.$fg;
      }

      &::before {
        content: "/";
      }

      svg {
        height: 1em;
        width: 1em;

      }

      button {
        background: none;
        @include input.button-hovers;
        padding: 0;
      }
    }
  }
}