@use "vars";
@use "util";

input[type=number] {
    -moz-appearance: textfield;
}

@mixin button-like {
    @include util.flex-center;
    display: inline-flex;
    color: vars.$fg;
    background: vars.$light-bg;
    border: none;
    padding: 10px;
    transition: 0.1s;
    border-radius: 3rem;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-moz-inner-spin-button {
        display: none;
    }

    svg,
    image {
        border-radius: 0 !important;
    }
}

@mixin button-hovers {
    &.good-action {
        background: vars.$green;
    }

    &.destructive-action {
        background: vars.$red;
    }

    &:hover,
    &.hover {
        background: vars.$lighter-bg;
        font-weight: bold;

        &.good-action {
            background: vars.$green-light;
        }

        &.destructive-action {
            background: vars.$red-light;
        }
    }

    &:active,
    &.active {
        background: vars.$dark-bg;

        &.good-action {
            background: vars.$green-dark;
        }

        &.destructive-action {
            background: vars.$red-dark;
        }
    }
}

button,
input[type=text],
input[type=number] {
    @include button-like;
    @include button-hovers;
}

a.button {
    @extend button;
}

// This exists because you cannot set a class
// on a <Link> element
.link-button {
    @include util.flex-center;
    display: inline-flex;
    @extend button;
    padding: 0;

    >a {
        @include util.flex-center;
        display: inline-flex;
        box-sizing: border-box;
        padding: 10px;
        text-decoration-line: none;
        font-size: small;
        width: 100%;
        height: 100%;
        color: vars.$fg;
    }
}

textarea {
    resize: vertical;
    color: vars.$fg;
    background: vars.$light-bg;
    border: none;
    padding: 10px;
    transition: 0.1s;
    border-radius: 5px;
    font-family: "Fira Sans", sans-serif;
}

.file-upload {
    @extend button;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    margin: 20px;
    background: url("data/file_open.svg") no-repeat center;
    background: vars.$light-bg;

    input[type="file"] {
        width: 100%;
        aspect-ratio: 3/1;
    }
}

.file-upload-button-circle {
    aspect-ratio: 1;

    input[type="file"] {
        width: 15px;
        height: 15px;
    }
}

.file-upload-button {
    @extend button;
    display: grid;
    justify-content: center;
    @include util.grid-stack;

    >* {
        margin: 0;
    }

    input {
        opacity: 0;
    }
}

.input-pair {
    >* {
        margin: 10px;
    }
}

.button-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    align-self: end;

    >* {
        width: 100%;

        margin: 5px;
        max-height: 40px;
    }
}

.flat-button-container {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-self: end;
    margin: 0 !important;

    button,
    .toggle-button>.inner {
        background: transparent;
        box-shadow: none !important;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        padding: 3px;

        &:active {
            background: vars.$dark-bg;
        }

        &:hover {
            background: vars.$lighter-bg;
        }
    }
}

.toggle-button {
    @include util.grid-stack;

    input {
        opacity: 0;
    }

    .inner {
        @include button-like;
    }

    input:checked+.inner {
        background: vars.$dark-bg;
        font-weight: bold;
    }

    input:focus-visible+.inner {
        border: 1px solid blue;
    }

    input:hover+.inner {
        background: vars.$lighter-bg;
        font-weight: bold;
    }
}

.popup-button-holder {
    width: 100%;

    >button {
        width: 100%;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
}