@use "input";
@use "vars";
@use "card";
@use "util";
@use "decks";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans;
  margin: 0;
  background: vars.$light-bg;
  color: vars.$fg;
  font-size: 1em;
}

.bar {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-flow: wrap;
  padding: 5px;
}

.top-bar {
  @extend .top-bar-static;
  box-sizing: border-box;
  background: vars.$light-bg;

  h1 {
    overflow: scroll;
  }

  &.floating-bar {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.top-bar-static {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr auto 1fr;

  h1 {
    font-size: 15px;
  }

  .right-align {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
}

.bottom-bar {
  background: vars.$bg;
  width: 100%;

  >* {
    flex: 1;
    white-space: nowrap;
    text-align: center;
    margin: 2px 20px;
    padding: 5px 10px;
    border-radius: 3rem;
    background: vars.$light-bg;
  }

  &.floating-bar {
    position: fixed;
    bottom: 0;
  }
}

.bottom-bar-control {
  @extend .bottom-bar;

  >button {
    padding: 10px;
  }
}

.finish-container {
  @extend .card;
}

.config-block {
  @include util.flex-center;
  margin: 10px;
  padding: 10px;
  flex-direction: column;

  h1 {
    font-size: 1.3em;
    margin: 0;
  }

  >.inner {
    @include util.flex-center;
    flex-direction: column;
    width: 80%;

    >div {
      display: flex;
      padding: 6px 0;
      width: 100%;
      max-width: 400px;
      flex-wrap: wrap;

      >label {
        flex: 1;
        align-self: center;
      }

      >label~input[type="number"] {
        font-size: 0.8rem;
      }

      >input {
        flex: 1;
        padding-left: 20px;
      }

      >input[type="number"],
      input[type="text"] {
        width: 100%;
      }
    }
  }
}

.centered-text {
  text-align: center;

  >* {
    margin: 10px auto;
  }
}

.fullwidth {
  width: 90%;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 40px;
}

.list {
  >* {
    margin: 10px;
  }
}

.popup-button-holder {
  position: relative;
}

.popup {
  position: absolute;

  background: vars.$lighter-bg;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 0px 20px black;
  bottom: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 0 !important;

  >* {
    display: block;
    padding: 10px;
  }

  >a {
    text-decoration-line: none;
    font-size: small;
    color: vars.$fg;
  }

  >button {
    background: transparent;
  }

  // Add a tail
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: vars.$lighter-bg transparent transparent transparent;
  }
}

.progress {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  background: vars.$light-bg;
  height: 40px;

  >* {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .inner {
    height: 100%;
    transition: width 0.2s;
    background: vars.$bg;
  }

  span {
    margin: auto;
  }

  .content {
    @include util.flex-center;
  }

  &.rev {
    background: vars.$light-bg;
    color: vars.$bg;

    .inner {
      background: vars.$fg;
    }
  }
}