@use "vars";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

.markdown {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  flex: 1;

  >div {
    max-height: 50vh;
    overflow: scroll;
  }

  /*
     * Headings
     */

  /* Headings and Sub Headings */

  h1,
  h2 {
    border-color: vars.$dark-bg;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-left: 0.1em;
  }

  header>h1 {
    font-size: 2.4em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 1.0625em;
    padding-bottom: 0.1em;
  }

  h5 {
    font-size: 1.03125em;
  }

  h6 {
    font-size: 1.015625em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 0.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }

  strong {
    font-weight: bold;
  }

  /*
     * Monospaced
     */

  code {
    font-size: 1em;
    background: vars.$dark-bg;
    font-family: 'Fira Code', 'NerdFontSymbols', monospaced;
    padding: 0.2em;
    display: inline-block;
  }

  pre {
    background: vars.$light-bg;
    font-family: 'Fira Code', 'NerdFontSymbols', monospaced;

    padding: 0.2em;
    padding-left: 3em;

    border-bottom: 0.3em solid vars.$dark-bg;
    text-align: left;
  }

  pre>code {
    background: transparent;
  }

  figcaption {
    font-style: italic;
    background: vars.$lighter-bg;
    border-top: vars.$lighter-bg;

    padding: 0.5em;
    padding-left: 1em;

    border-bottom: 0.3em solid vars.$dark-bg;
    border-left: 0.3em solid vars.$dark-bg;
    border-right: 0.3em solid vars.$dark-bg;
  }

  /*
     * Lists
     */
  li {
    text-align: start;
  }

  ol>li::marker {
    font-weight: bold;
  }

  /*
     * BlockQuotes
     */

  blockquote {
    background: vars.$dark-bg;
    border-left: 0.5em solid vars.$lighter-bg;
    padding: 5px;
    margin: 0;
  }

  blockquote,
  td {

    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.3em;
    }

    h3 {
      font-size: 1.1em;
    }

    h4 {
      font-size: 1em;
    }
  }


  /*
     * Horizontal Lines
     */
  hr {
    border: 10px double vars.$dark-bg;
    margin: 2em auto;
    box-shadow: 0px 6px 0px vars.$dark-bg;
    border-radius: 6px;
  }

  a {
    color: vars.$blue;

    &#visited {
      color: vars.$blue-light;
    }
  }

  p u {
    background: vars.$light-bg;
  }

  &.slim {
    margin-bottom: 0;
    flex: 0 !important;

    p {
      margin-bottom: 0;
    }
  }

  .katex-display {
    display: inline-block !important;
  }

  img {
    max-width: 100%;
    max-height: 400px;
  }
}

//
// Tables
//

/* Thin border at the bottom */
table {
  border-collapse: collapse;
  border-bottom: 1px solid vars.$dark-bg;
  border-top: 1px solid vars.$dark-bg;
  width: 90%;
  margin: 0 auto;

  td,
  th {
    border-left: 1px solid vars.$dark-bg;
    border-right: 1px solid vars.$dark-bg;
    padding: 0.5em 0.5em;
  }

  th,
  th {
    background: vars.$lighter-bg;
    font-weight: bold;
    border-bottom: 1px solid vars.$dark-bg;
  }
}

table.unpadded {

  td,
  th {
    padding: 0;
  }
}

/* Alternating table bakgrounds */
tbody tr:nth-child(even) {
  background: vars.$lighter-bg;
}

.katex {
  font-size: 1em;
}