@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backface-visibility($vis) {
    -webkit-backface-visibility: $vis;
    -moz-backface-visibility: $vis;
    backface-visibility: $vis;
}

@mixin grid-stack {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;

    > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }
}
