@use "sass:color";
@use "sass:map";

$theme-dark: (
  "bg-c": #0a001c,
  "light-bg-c": #241f31,
  "fg-c": #FFFFFF,
  "lighter-bg-c": color.mix(#241f31, #FFFFFF, 80%),
  "dark-bg-c": color.mix(#241f31, #0a001c, 80%),

  "green": #2ec27e,
  "green-light": #57e389,
  "green-dark": #26a269,

  "blue": #1c71d8,
  "blue-light": #62a0ea,
  "blue-dark": #1a5fb4,

  "red": #e01b24,
  "red-light": #ed333b,
  "red-dark": #a51d2d,
);

/*
$theme-light: (
    "bg-c": #eeeeee,
    "light-bg-c": #bbddd3,
    "fg-c": #222222,
    "lighter-bg-c": #55aa8e,
    "dark-bg-c": #22443a,
);
*/

$theme-light: (
  "bg-c": #f9f8f6,
  "light-bg-c": #baa188,
  "fg-c": #383838,
  "lighter-bg-c": #f0e7df,
  "dark-bg-c": #c6b0a4,

  "green": #7ba84d,
  "green-light": #438047,
  "green-dark": #438047,

  "blue": #739cb6,
  "blue-light": #436880,
  "blue-dark": #436880,

  "red": #f03c3c,
  "red-light": #f35f5f,
  "red-dark": #ed1818,
);

$bg-c: #0a001c;
$light-bg-c: #241f31;
$fg-c: #FFFFFF;
$lighter-bg-c: color.mix($light-bg-c, $fg-c, 80%);
$dark-bg-c: color.mix($light-bg-c, $bg-c, 80%);

$bg: var(--bg);
$light-bg: var(--light-bg);
$fg: var(--fg);
$lighter-bg: var(--lighter-bg);
$dark-bg: var(--dark-bg);

$green: var(--green);
$green-light: var(--green-light);
$green-dark: var(--green-dark);

$blue: var(--blue);
$blue-light: var(--blue-light);
$blue-dark: var(--blue-dark);

$red: var(--red);
$red-light: var(--red-light);
$red-dark: var(--red-dark);

$flip-transition: 0.15s;

:root {
  --bg: #{  map.get($theme-dark, "bg-c") };
  --light-bg: #{  map.get($theme-dark, "light-bg-c") };
  --fg: #{  map.get($theme-dark, "fg-c") };
  --lighter-bg: #{  map.get($theme-dark, "lighter-bg-c") };
  --dark-bg: #{  map.get($theme-dark, "dark-bg-c") };

  --green: #{ map.get($theme-dark, "green") };
  --green-light: #{ map.get($theme-dark, "green-light") };
  --green-dark: #{ map.get($theme-dark, "green-dark") };

  --blue: #{ map.get($theme-dark, "blue") };
  --blue-light: #{ map.get($theme-dark, "blue-light") };
  --blue-dark: #{ map.get($theme-dark, "blue-dark") };

  --red: #{ map.get($theme-dark, "red") };
  --red-light: #{ map.get($theme-dark, "red-light") };
  --red-dark: #{ map.get($theme-dark, "red-dark") };
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #{  map.get($theme-light, "bg-c") };
    --light-bg: #{  map.get($theme-light, "light-bg-c") };
    --fg: #{  map.get($theme-light, "fg-c") };
    --lighter-bg: #{  map.get($theme-light, "lighter-bg-c") };
    --dark-bg: #{  map.get($theme-light, "dark-bg-c") };


    --green: #{ map.get($theme-light, "green") };
    --green-light: #{ map.get($theme-light, "green-light") };
    --green-dark: #{ map.get($theme-light, "green-dark") };

    --blue: #{ map.get($theme-light, "blue") };
    --blue-light: #{ map.get($theme-light, "blue-light") };
    --blue-dark: #{ map.get($theme-light, "blue-dark") };

    --red: #{ map.get($theme-light, "red") };
    --red-light: #{ map.get($theme-light, "red-light") };
    --red-dark: #{ map.get($theme-light, "red-dark") };
  }
}